<h1>New Prescription</h1>
<%= form_tag patient_path(@patient) do %>
<label>Patient Name:</label><br>
<%= text_field_tag :'patient[name]', @patient.name %><br>

<label>Select doctors:</label><br>
<% @doctors.each do |doctor| %>
  <%= check_box_tag :'doctor_ids[]', value="#{doctor.id}", checked = @patient.doctor_ids.include?(doctor.id) %>
  <%= label_tag :'doctor_ids[]', doctor.name %>
<% end %><br>

<label>Create doctor:</label><br>
<%= text_field_tag :'new_doctor' %><br>

  <%= submit_tag "Create Prescription" %>
<% end %>
